h1 {
  text-align: center;
}

.container {
  background-color: lightgray;
  height: auto;
  width: 600px;
}

.taskTable {
  background-color: lightyellow;
}

.strike {
  text-decoration: line-through;
}

#taskInput {
  width: 250px;
  margin: 5px;

}

#tasks {
  width: 300px;
}
